<div class="container">
    <h2 class="text-center">Редактирование продукта: <code><?=$product->getName()?></code></h2>
    <?=$form->start(['action' => '/form/process'])?>
    <label>Name:</label>
    <p><?=$form->show('name')?></p>
    <label>Image File</label>
    <p><?=$form->show('picture')?></p>
    <label>Price</label>
    <p><?=$form->show('price')?></p>
    <label>Description</label>
    <p><?=$form->show('description')?></p>
    <label>Enabled</label>
    <?=$form->show('enabled')?>
    <p><?=$form->submit(['class' => 'btn btn-success', 'value' => 'Сохранить'])?></p>
    <?=$form->end()?>
</div>