<div class="container">
    <h2>Products list</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>Price</th>
            <th>description</th>
            <th>image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($products as $product) :?>
        <tr>
            <td><?=$product['id']?></td>
            <td><?=$product['name']?></td>
            <td><?=$product['price']?></td>
            <td><?=$product['description']?></td>
            <td>
                <img src="<?=$product['picture']?>" width="100" height="100" />
            </td>
            <td class="text-center">
                <a class="btn btn-success btn-sm" href="/form/edit/<?=$product['id']?>">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>
                <a class="btn btn-danger btn-sm" href="/form/delete/<?=$product['id']?>">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </a>
                <a class="btn btn-primary btn-sm" href="/form/view/<?=$product['id']?>">
                    <i class="glyphicon glyphicon-eye-open"></i> View
                </a>
            </td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/form/new">Создать</a>
</div>
