<div class="container">
    <h2 class="text-center">Product Form</h2>
    <?=$form->start(['action' => '/form/process'])?>
    <label>Name:</label>
    <p><?=$form->show('name')?></p>
    <label>Image File</label>
    <p><?=$form->show('picture')?></p>
    <label>Price</label>
    <p><?=$form->show('price')?></p>
    <label>Description</label>
    <p><?=$form->show('description')?></p>
    <p><?=$form->submit(['class' => 'btn btn-success', 'value' => 'Сохарить'])?></p>
    <label>Enabled</label>
    <?=$form->show('enabled', ['type' => 'checkbox', 'class' => ''])?>
    ?>

    <?=$form->end()?>
</div>
