<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size: 20px"><?=$product->getName()?></div>
        <div class="panel-body">
            <img src="<?=$product->getPicture()?>" class="img-circle" width="304" height="236" style="display: block;float: left">
            <div style="float: left; padding-left: 10px;">
                <p><strong>Name: </strong><?=$product->getName()?></p>
                <p><strong>Price: </strong>$<?=$product->getPrice()?></p>
                <p><strong>Description: </strong><?=$product->getDescription()?></p>
            </div>
            <div class="form-group" style="clear: both; padding: 12px;">
                <a href="/form" class="btn btn-info">
                    <i class="glyphicon glyphicon-arrow-left"></i> Back to list
                </a>
                <a href="/form/edit/<?=$product->getId()?>" class="btn btn-info">
                    <i class="glyphicon glyphicon-pencil"></i> Edit
                </a>
                <a href="/form/delete/<?=$product->getId()?>" class="btn btn-info">
                    <i class="glyphicon glyphicon-trash"></i> Delete
                </a>
            </div>
        </div>
    </div>
</div>