<?=$this->beginHtml()?>
    <head>
        <?=$this->js('bootstrap/js/jquery-3.1.0.min.js')?>
        <?=$this->js('bootstrap/js/bootstrap.js')?>
        <?=$this->js('bootstrap/js/bootstrap.min.js')?>
        <?=$this->css('bootstrap/css/bootstrap.css')?>
        <?=$this->title('Page title')?>
        <?=$this->description('Page description')?>
        <?=\Master\SeoHelper::author('master-cms.net')?>
    </head>
    <body>
    <?=$this->content()?>
    </body>
<?=$this->endHtml()?>