<?=$this->beginHtml()?>
    <head>
        <?=$this->css('css/style.css')?>
        <?=$this->title('Page title')?>
        <?=$this->description('Page description')?>
        <?=\Master\SeoHelper::author('master-cms.net')?>
    </head>
    <body>
    <?=$this->img('images/not_avatar.jpg')?>
    <?=$this->content()?>
    </body>
<?=$this->endHtml()?>